<h1>Listing books</h1>

<div class="row">
  <div class="span4">Title</div>
  <div class="span1">Edition</div>
  <div class="span3">Author</div>
  <div class="span2">ISBN</div>
  <div class="span1"></div>
  <div class="span1"></div>
</div>
<% @books.each do |book| %>
<div class="row">
  <div class="span4"><%= link_to book.title, book %></div>
  <div class="span1"><%= book.edition %></div>
  <div class="span3"><%= book.author %></div>
  <div class="span2"><%= book.isbn %></div>
  <div class="span1"><%= link_to 'Edit', edit_book_path(book) %></div>
  <div class="span1"><%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
<% end %>

<br />

<%= link_to 'New Book', new_book_path %>
